<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="chatname" value="#isomnicron/$c09ef07e4f1de141"/>
    <add key="skypeadmin" value="barry.dahlberg"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
